.components-container{
    height: 600px;
    
}


.main-container{
  height: 70vh;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  background-image: url('/sea.jpg');
  background-position: center;
  background-size: cover;
  margin: 1rem 0 1rem 0;
}


.title{
    border-radius: 0.5rem;
    background-color: black;
    width: 30rem;
    display: flex;
    justify-content: center;
    color: white;
    pad: 0.5rem;
    margin: auto;
    padding: auto;
    margin-bottom: 0.5rem;
}


.end-title{
    display: flex;
    border-radius: 0.5rem;
    background-color: black;
    width: 25rem;
    justify-content: center;
    color: white;
    pad: 0.5rem;
    margin: auto;
    padding: auto;
    width: 450px;
    transform: translateY(-140px);
  }

  .grid-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    
  
  }
  .grid-4{
    display: flex;
    position: relative;
    transform: translateY(-130px);
  
  }
  
  .tem-move{
    position: relative;
    transform: translateY(-130px);
  }