.product-container {
  margin: 10rem;
  width: 70%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 0 0 0 0.25rem gray;
}

.products-itemps-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 1080px;
  overflow-y: auto;
  align-items: start;
}
